* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: #3685fb;
    --primary-color-dark: #2f73d9;
    --secondary-color: #fafcff;
    --text-dark: #0d213f;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;
}

body {
    user-select: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

#nav {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: fade-in 1.2s ease forwards;
    position: fixed;
}

.nav__logo a{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-dark);
    display: flex;
    align-items: center;
}

.nav__logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav__logo span {
    color: var(--primary-color);
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    list-style: none;
}

.link .active {
    color: var(--primary-color);
}

.link a {
    padding: 0 1rem;
    color: var(--text-dark);
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
}
  
.link a:hover {
    color: var(--primary-color);
}

/* Header */
#header {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fade-in 1.2s ease forwards;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    margin: 50px;
}

.container h1 span {
    color: var(--primary-color);
}

#header .container h2 {
    font-size: 2rem;
}

.container .buttons {
    margin-top: 2rem;
}

.container .header-btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.container .header-btn:hover {
    background-color: var(--primary-color-dark);
}

/* Gallery */
#gallery {
    width: 100%;
    height: 60vh;
    background-color: #fafcff;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container .gallery-header {
    font-size: 3.5rem;
    margin: 5rem;
}

.gallery-container .gallery-header span {
    color: var(--primary-color);
}

.container h2 span {
    color: var(--primary-color);
}

/* Email */
#email {
    width: 100vw;
    height: 70vh;
}

.email-container {
    padding: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email h1 {
    font-size: 2.5rem;
    line-height: 4rem;
}

#email h1 span {
    color: var(--primary-color);
}

#email h2 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

form input {
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #999;
    transition: all .3s ease;
}

form #submit {
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: all .3s ease;
}

form #submit:hover {
    background-color: var(--primary-color-dark);
}

form input:hover {
    border: 1px solid var(--primary-color);
}

form textarea {
    font-family: sans-serif;
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #999;
}

form textarea:hover {
    border: 1px solid var(--primary-color);
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

/* Media Query's */
@media (max-width: 650px) {
    .nav__items {
        display: none;
    }
}

@media (max-width: 555px) {
    #header .container h1 {
        font-size: 4rem;
    }

    #header .container h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 458px) {
    #header .container h1 {
        font-size: 3rem;
    }

    #header .container h2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 366px) {
    #header .container h1 {
        font-size: 2.5rem;
    }

    #header .container h2 {
        font-size: .8rem;
    }

    #header .container .header-btn {
        font-size: 12px;
    }
}

@media (max-width: 863px) {
    #email h1 {
        font-size: 2rem;
    }

    #email h2 {
        font-size: 1rem;
    }
}

@media (max-width: 787px) {
    #email h1 {
        font-size: 1.5rem;
    }

    #email h2 {
        font-size: 1rem;
    }
}